schedules:
  - id: bilibili-hot
    enabled: true
    site: bilibili
    command: hot
    args:
      limit: "20"
    expression: "0 0 */2 * * *"

  - id: twitter-timeline
    enabled: true
    site: twitter
    command: timeline
    args:
      limit: "20"
    expression: "0 */30 * * * *"